body {
    font-family: 'NanumSquare', sans-serif;

h1,
h2,
h3,
h4,
.gabriela-regular {
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
  }
  background-color: rgba(244, 255, 95, 0.2)



}